
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-home-text {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    justify-content: center;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

    
.header-contact {
    font-style: normal;
}

.header-contact a {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-link {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

a {
    text-decoration: none;
}



.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}





h1,
h2,
h3,
p {

    margin: 0;

}
ul {
    margin: 0;
    padding: 0;
}
img {
    height: auto;
    display: block;
    max-width: 100%;
}
.hero-container {
     text-align: center;
    
}

.hero {
    background-color: #2E2F42;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.2;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    justify-content: center;
}


.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
    text-align: center;
    justify-content: center;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}


.features {
    padding: 120px 0;
}
.features-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}
        

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;

}

.features-list {
    display: flex;
    gap: 24px;
    margin: 0;
    justify-content: center;
    list-style: none;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.feature-heading {
    margin-bottom: 8px;
}
.features-list .features-item .feature-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.features-list .features-item .feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
   
}


.features-item {
    width: calc((100% - 72px)/4);
}



.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
    text-align: center;
}

.team-member-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.team-member-description {
    font-size: 16px;
    line-height: 1.5;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    list-style: none;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #F4F4FD;
}



.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.portfolio ul li img[src^="./images"][src$=".jpg"],
.portfolio ul li img[src^="./images"][src$=".jpeg"] {
width: 100%;
height: auto;
display: block;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    text-align: left;
    
   
    


}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 48px)/3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.portfolio-item:hover,
.portfolio-item:focus {
box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
        display: flex;
        align-items: baseline;
        
}
.footer-description {
    margin-right: 120px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block; 
    margin-bottom: 16px;

}

.logo-text {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: var(--text-color, #f4f4fd);
    letter-spacing: 0.02em;
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
}
.footer-social .social-link {
    color: #FFFFFF;
}

.social-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-social {
display: flex;
gap: 16px;
list-style: none;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31D0AA;
  }

  .footer-sub {
    display: block;
    flex-direction: column;
    align-items: center;
}
  .footer-sub-text {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    display: flex;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .footer-input::placeholder {
    color: #FFFFFF;
  }
  
  
  .footer-btn {
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .footer-btn:hover,
  .footer-btn:focus {
      background-color: #31D0AA;
  }
  .footer-sending-icon {
    fill: #FFFFFF;
    margin-left: 16px;
  }



  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  .modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    fill: #FFFFFF;
    border: none;
}

  
  .modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    
    
  }

  .input-wrap {
      position: relative;
      display: flex;
      align-items: center;
  }

  .modal-field {
    margin-bottom: 8px;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    cursor: pointer;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .modal-label {
    display: block;
    margin-bottom: 4px;
    color: rgb(142, 143, 153);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

  }

  .modal-icon {
    border-color: #4D5AE5;
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
  
  .modal-input:focus {
      border-color: #4D5AE5;
  }
  
   .modal-field-comment {
margin-bottom: 16px;
   }
  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: #4D5AE5;
    outline: none;
  }
 .modal-check {
    margin-bottom: 24px;
 }
  .modal-check-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    

  }
  .modal-check-item {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input-check:checked + .modal-check-text > .modal-check-item {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
  }
  .policy-href {
    color: #4D5AE5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .modal-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFFFFF;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button:hover, .modal-button:focus {
    background-color: #404BBF;
    
  }